In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data1=pd.read_csv ('Add_sales_data_2018.csv')

In [3]:
data1.shape

(205, 7)

In [4]:
data1.isna().sum()    ##Checking for null values

Date                    0
Add1(in Thousands)      0
Add2(in Thousands)      0
Add3(in Thousands)      0
Add4(in Thousands)      0
Add5(in Thousands)      0
Profit(in Thousands)    0
dtype: int64

In [5]:
data1.head()

,Date,Add1(in Thousands),Add2(in Thousands),Add3(in Thousands),Add4(in Thousands),Add5(in Thousands),Profit(in Thousands)
0,2018-10-08,208.00,222.25,206.85,216.00,215.15,4093.065
1,2018-10-05,217.00,218.60,205.90,210.25,209.20,4042.448
2,2018-10-04,223.50,227.80,216.15,217.25,218.20,4213.819
3,2018-10-03,230.00,237.50,225.75,226.45,227.60,4391.665
4,2018-10-01,234.55,234.60,221.05,230.30,230.90,4350.683

In [6]:
data1.describe()

,Add1(in Thousands),Add2(in Thousands),Add3(in Thousands),Add4(in Thousands),Add5(in Thousands),Profit(in Thousands)
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,267.577561,271.722439,262.990732,267.223902,267.152683,5059.630234
std,26.219588,25.914939,26.126704,26.238832,26.215360,486.910414
min,208.000000,218.600000,205.900000,210.250000,209.200000,4042.448000
25%,244.000000,248.500000,240.300000,243.050000,243.000000,4617.695000
50%,269.700000,274.200000,263.250000,268.900000,268.350000,5088.455000
75%,284.400000,288.800000,280.900000,284.500000,284.450000,5387.438000
max,327.700000,328.750000,321.650000,325.950000,325.750000,6137.800000

# Checking Relationship

In [7]:
data1[data1.columns[1:]].corr()['Profit(in Thousands)'][:]

Add1(in Thousands)      0.991975
Add2(in Thousands)      0.999145
Add3(in Thousands)      0.993389
Add4(in Thousands)      0.993346
Add5(in Thousands)      0.993710
Profit(in Thousands)    1.000000
Name: Profit(in Thousands), dtype: float64

In [8]:
## Yes.there is having strong positive correlaton between the amount spent for advertising through five different companies and profit generated

# Splitting Data into Dependent and Independent variables

In [9]:
y=data1['Profit(in Thousands)']
X=data1.drop(['Profit(in Thousands)','Date'],axis=1)

In [10]:
X.shape

(205, 5)

In [11]:
y.shape

(205,)

# Splitting Data into Train and Test set

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=50,test_size=0.25)

In [14]:
X_train.shape

(153, 5)

# Building linear Regressoin Model

In [15]:
from sklearn import linear_model

In [16]:
lr=linear_model.LinearRegression()

In [17]:
model=lr.fit(X_train,y_train)

In [18]:
pred=model.predict(X_test)

In [19]:
pred

array([5373.275, 5728.804, 4464.11 , 4936.12 , 5108.626, 4178.008,
       5452.28 , 4425.005, 4506.279, 4898.776, 5034.726, 4997.719,
       5030.451, 5107.437, 4436.321, 5131.898, 4979.399, 4465.95 ,
       4937.03 , 5767.839, 4648.834, 4980.446, 4435.174, 6137.8  ,
       5247.011, 5374.105, 5580.775, 4461.325, 4569.293, 5616.791,
       5244.097, 5212.949, 5225.14 , 5078.636, 5318.1  , 5163.322,
       5250.775, 4671.113, 5384.175, 5027.633, 5043.705, 6101.648,
       4486.38 , 5137.534, 4486.996, 5667.25 , 5172.76 , 5956.323,
       4434.805, 5167.878, 4042.448, 5359.346])

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
print("Mean square error is: ",mean_squared_error(y_test,pred))

Mean square error is:  1.5111953498564928e-24

In [ ]:
##This is the prediction model of the profit with mean square error value as 1.511

# Profit Predction

In [22]:
sample_values=[[290,312,309,298,320]]

In [23]:
profit1=model.predict(sample_values)

In [24]:
profit1

array([5820.06])